#######################################
# musicEater app config
#######################################
POSTGRES_HOST=localhost
POSTGRES_PORT=5435
POSTGRES_DB=musicEater
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
MINIO_ENDPOINT=localhost:9100
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=songs
DOWNLOAD_DIR=temp_downloads
AUTH_USERNAME=admin
AUTH_PASSWORD=admin
AUTH_TENANT=admin