#######################################
# musicEater app config
#######################################
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=musicEater
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=songs
DOWNLOAD_DIR=downloads